/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5em 0.3em;
    overflow-x: auto;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    border-right: 1px solid rgba(255, 255, 255, 0.3); /* 添加淺色分隔線 */
}

nav ul li:last-child {
    border-right: none; /* 移除最後一項的右邊框 */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.nav-title {
    font-size: 1em;
    font-weight: bold;
}

main {
    padding: 2rem;
}

h1 {
    color: #333;
}

#map {
    border: 1px solid #ddd;
}

/* 媒體查詢：針對中等大小的屏幕 */
@media screen and (max-width: 768px) {
    nav ul li a {
        font-size: 0.8em;
    }

    .nav-title {
        font-size: 0.9em;
    }

    nav ul li {
        padding: 0 0.3em;
    }
}

/* 針對小型移動設備 */
@media screen and (max-width: 480px) {
    nav ul li a {
        font-size: 0.7em;
    }

    .nav-title {
        font-size: 0.8em;
    }

    nav ul li {
        padding: 0 0.2em;
    }

    nav {
        padding: 0.3em 0.2em;
    }
}
